
<h1>Overall number and the link to all the products is here <%= link_to @products, [:admin, :products]%></h1>
<h2>Overall number of all the categories is <%= link_to @categories_all, [:admin, :categories]%></h2>



